*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    background: url(backgrounds/2.png);
    background-size: cover;
    color: white;
}
.container{
    padding: 15px;
    width: fit-content;
    height: fit-content;
    background: rgba(0, 132, 155, 0.258);
    height: 50px;
    overflow: hidden;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    transition: all 0.3s ease-in-out;
}
.container:hover{
    height: 400px;
}

.shearch{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px;
}
.shearch input{
    padding: 8px;
    width: 100%;
    background: none;
    border: white;
    border: solid 1.5px #2195a4;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    color: white;

}
.shearch input::placeholder{
    color: white;

}
.shearch input:focus{
    outline: none;
    border: #28a9ba 1.5px solid;
    box-shadow:  #28a9bab1 1px 1px 10px 1px;
}
.shearch button{
    padding: 5px;
    border-radius: 50%;
    border: none;
    align-content: center;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.shearch button:hover{
    transform: scale(1.06);
}
.important-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.important-info img{
    padding: 10px;
}
.temp{
    padding: 5px;
}
.temp span{
    font-size: 30px;
}
.temp span::after{
    content: " °C";
}
.sky-type{
    padding: 5px;
}
.sky-type span{
    font-size: 25px;
    position: relative;
    transition: all 0.4s ease-in-out;
}
.sky-type span::after{
    position: absolute;
    content: "";
    background: white;
    width: 0;
    left: 0;
    bottom: -3px;
    height: 2px;
    transition: all 0.4s ease-in-out;
}
.sky-type span:hover::after{
    width: 100%;
}
.wind-humidity{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 30px;
}
.humidity-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.wind-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.humidity-info{
    padding: 5px;

}
.humidity-info h3{
    font-size: 16px;
}
.humidity-info span::after{
   content: " K/H";
}
.wind-info h3{
   font-size: 16px;
}
.wind-info span::after{
    content: " %";
}
.we-cant{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}